* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

/* TOP NAV BAR */
.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #ed0000 1.18%, #b90000 100%);
  color: white;
  padding: 20px;
}


.header--title {
  font-size: 1.25rem;
  margin-right: auto;
  padding-left: 120px;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}


/* BODY */

.button-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 40%;

}

.button-italian {
  
  border: none;
  border-radius: 100%;
  background-color: #ff0000;
  color: rgb(255, 255, 255);
  padding: 0px;
  font-family: 'Ginerin-Regular', sans-serif;
  font-size: 10px;
  width: 70px;
  height: 60px;
  margin-right: 20px; /* Add margin to create space between buttons */
}

.button-italian.selected {
  background-color: #625757; /* Dark gray when button is selected */
}


.button-american {
  border: none;
  border-radius: 100%;
  background-color: #ff0000;
  color: rgb(255, 255, 255);
  padding: 0px;
  font-family: 'Ginerin-Regular', sans-serif;
  font-size: 10px;
  width: 70px;
  height: 60px;
  margin-right: 20px; /* Add margin to create space between buttons */
}

.button-american.selected {
  background-color: #625757; /* Dark gray when button is selected */
}






.daily-picks-text {
  font-family: 'Ginerin-Regular', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  padding-left: 140px;
  padding-top: 50px;
}





.recipe-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
  gap: 20px;
  padding: 20px; 
  max-width: 100%;

  /* PADDING */
  padding-left: 130px;
  padding-right: 130px;

  padding-top: 0px;
}

.recipe-card {
  position: relative; /* Set position relative to enable absolute positioning */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
  overflow: hidden;
  height: 250px;
  border-radius: 5px;
  
}


.recipe-card img {
  width: 100%; 
  height: auto; 
  transition: transform 0.3s ease;
}

  .recipe-card h3 {
    position: absolute; /* Set position absolute */
    bottom: 0; /* Move the title and shadow to the bottom */
    left: 0; /* Adjust left position to overlay the title */
    color: white; /* Set text color */
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Gradient fade background from bottom to top */
    padding-bottom: 35px; /* Add padding for better readability */
    border-radius: 0px; /* Add border radius for better appearance */
    margin: 0; /* Remove default margin */
    margin-bottom: -20px;
    width: 100%; /* Calculate width to fit within the card */
    z-index: 1; /* Set z-index to ensure the title is displayed above the image */
    text-align: center;
    text-transform: uppercase; /* Make the text uppercase */

    padding-left: 20px;
    padding-right: 20px;

  }

.recipe-card:hover img {
  transform: scale(1.03); 
}


.recipe-card img {
  max-width: 100%; 
  height: auto; 
}


/* FONTS */
@font-face {
  font-family: 'Ginerin-Regular';
  src: url('./fonts/Ginerin-Regular.otf') format('opentype');
}



/* SEARCH BAR */
.search-bar {
  display: flex;
  margin-bottom: 0px;
  height: 30px;
  width: 57%;
  max-width: 100%;
  margin-left: 20%;
  margin-top: 20px;
  border-radius: 5px; 
  background-color: #d5d5d5; 
  border: none; 
  padding-left: 20px;
}




/* MEDIA SCREENS OROGINAL WAS 769, 1069 */
@media (min-width: 25px) and (max-width: 1069) {

  .recipe-cards-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    
  }

  .recipe-card {
    position: relative; /* Set position relative to enable absolute positioning */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
    overflow: hidden;
    height: 150px;
    border-radius: 5px;
    
  }

  .recipe-card h3 {
    font-size: 13px;
  }
  
  

  
}



@media (min-width: 770px)  {

  /* .recipe-cards-wrapper {
    padding: 50px; 
    margin-left: 0px;
    margin-right: 0px;
  } */



  /* 
  .recipe-cards-wrapper {
    padding: 50px; 
    padding-left: 50px;
    padding-right: 50px;
  }
  */
}



/* 
.search-bar {
  display: flex;
  margin-bottom: 0px;
  height: 30px;
  width: 87%;
  max-width: 100%;
  margin-left: 6.5%;
  margin-top: 20px;
  border-radius: 5px; 
  background-color: #d5d5d5; 
  border: none; 
  padding-left: 20px;
}
*/



