* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}


.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #ed0000 1.18%, #b90000 100%);
  color: white;
  padding: 20px;
}


.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

.recipe-cards-wrapper {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  justify-content: center; /* Align cards in the center horizontally */
  gap: 20px; /* Add space between cards */
  padding: 20px; /* Add padding to the container */
  max-width: 100%;
}

.recipe-card {
  max-width: 300px; /* Example max-width for recipe cards */
  width: 100%; /* Ensure each card takes up the full width of its container */
  text-align: center; /* Center the content horizontally */
}

.recipe-card img {
  max-width: 100%; /* Ensure the image does not exceed its parent's width */
  height: auto; /* Allow the image to adjust its height based on its aspect ratio */
}
